$black: #000;
$white: #fffffe;

$theme-colors: (
    success: rgb(74 222 128),
    danger: rgb(248 113 113),
    info: rgb(129 140 248),
    primary: rgb(96 165 250),
    warning:  rgb(251 191 36),
    muted: rgb(51 65 85),
);
