coverage
eventlet
Flask
Flask-Cors
Flask-SocketIO
gensim
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
greenlet
gTTS
nltk
oauthlib
openai
pydantic
python-dotenv
python-socketio
scikit-learn
SpeechRecognition